
/* Header */
header{
    font-weight: bolder;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:inherit;
    color:aliceblue;
    outline: 1px double black ;
    border: 3px groove blueviolet;
    background-color:cornflowerblue;
}


#header_caption{
    color:cornsilk;
    font-size: medium;
}

*{
    text-align: center;
}

nav{
    font-size: small;
}

a:link{
    color:gold;
}

a:visited{
    color:blueviolet;
}

a:hover{
    color: red;
}

/* Body */
h2{
    text-decoration: underline;
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: large;
    font-style:initial;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 100px;
    margin-right: 100px;
}
img{
    border: 2px double black;
}

caption{
    font-size: x-small;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

ul{
    margin-left: 650px;
    margin-right: 700px;
    text-align: left;
}

body{
    background-image: url(https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?w=2000);
    backdrop-filter: blur(5px);
}

#wk2_colorex{
    color: crimson;
}

#wk2_fontex{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



html{
    scroll-behavior: smooth;
}

img{
    margin-top: 30px;
}

form{
    border: 2px solid black;
    margin-left: 500px;
    margin-right: 500px;
}

#wk3_relative{
    position: relative;
    border: 3px solid blueviolet;
    width: 300px;
    height: 300px;
    margin-left: 600px;
    
}

#wk3_absolute{
    position: absolute;
    border: 3px solid red;
    width: 100px;
    height: 100px;
    right:0px;
    top:50px;
}

#flex_container_ex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#flex_container_ex > div{
    background-color: aquamarine;
    border: 2px solid black;
    margin: 50px;
    padding: 60px;
    font-size:medium;
}

#wk4_responsivedemo{
    max-width:100%;
    height: 400px;
}

/* footer */
footer{
    background-color: cadetblue;
}

